
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Reset Password</h4>
                            <p class="sub-header">
                                Şifrenizi değiştirin
                            </p>

                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="post">

                                        <div class="mb-3">
                                            <label for="password" class="form-label">Current Password</label>
                                            <div class="input-group input-group-merge">
                                                <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter your current password">
                                                <div class="input-group-text" data-password="false">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">New Password</label>
                                            <div class="input-group input-group-merge">
                                                <input type="password" id="NewPassword" name="NewPassword" class="form-control" placeholder="Enter your password">
                                                <div class="input-group-text" data-password="false">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">Repeat New Password</label>
                                            <div class="input-group input-group-merge">
                                                <input type="password" id="RepeatPassword" name="RepeatPassword" class="form-control" placeholder="Enter your password">
                                                <div class="input-group-text" data-password="false">
                                                    <span class="password-eye"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-success">Save Password</button>

                                    </form>
                                </div> <!-- end col -->
                                <div class="col-md-6 text-center">
                                    <h3>Şifre Değiştir</h3>
                                    <p>Eski şifre ile şifreni yenileyebilirsiniz.</p>
                                    <h2>@ViewBag.mesaj</h2>
                                </div>
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

