@using VarBal.Models;
@model List<Brand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    int i = 0;

}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <div class="row">

                                <div class="col-12 mb-3">
                                    <h4 class="mt-0 header-title">Brand List</h4>
                                    <p class="text-muted font-14 mb-3 float-start">
                                        Sitede bulunan kategori listesi
                                    </p>
                                    <a class="btn btn-success float-end" href="~/Brand/Add"><i class="fa fa-plus"></i> Brand Add</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Name</th>
                                                <th>Status</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>

                                        <tbody>


                                            @foreach (var item in Model)
                                            {
                                                i++;

                                                <tr>
                                                    <td>@i</td>
                                                    <td>@item.Name</td>

                                                    @{var status = item.Status == true ? "btn-success" : "btn-danger";}
                                                    <td>

                                                        <a href="~/Brand/BrandStatusEdit?id=@item.Id" class="btn @status">
                                                            @item.Status
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="~/Brand/Edit?id=@item.Id" class="btn btn-success"><i class="mdi mdi-account-star"></i></a>

                                                    </td>

                                                    <td>
                                                        <a href="~/Brand/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
