@using VarBal.Models;
@model VizionAndMission
@{
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    var image = string.IsNullOrEmpty(Model.Image) ? "default-about.png" : Model.Image;

}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">  Edit About</h4>
                            <p class="sub-header">

                            </p>
                            <a href="~/Home/Index" class="btn btn-info float-end  ">Go To HomePage</a>
                            <a href="~/ContacUs/" class="btn btn-warning  ">Go Back</a>


                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="post" action="~/ContacUs/MissionVisionEdit" enctype="multipart/form-data">

                                        <div class="mb-3">
                                            <img src="~/Content/images/AboutImage/@image" class="w-100 mt-3" />
                                            <br />
                                            <input type="file" class="form-control mt-3" name="Image" id="Image" />

                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label">Mission</label>
                                            <textarea id="Title" name="Title" class="form-control" rows="7">@Model.Title</textarea>
                                        </div>

                                        <div class="mb-3">
                                            <label for="Description" class="form-label">Vision</label>
                                            <textarea id="Description" name="Description" class="form-control" rows="7">@Model.Description</textarea>
                                        </div>


                                        <input type="hidden" value="@Model.Id" name="Id" id="Id" />

                                        <button class="btn btn-success" type="submit"> Edit</button>

                                    </form>
                                </div> <!-- end col -->
                                <div class="col-md-6 text-center">
                                    <h3>Edit About</h3>
                                    <p>Please add your information accordingly</p>
                                    <h4>@ViewBag.mesaj</h4>
                                </div>
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>
