
@using VarBal.Models;
@model List<Permission>
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Add New Permission</h4>
                            <p class="sub-header">
                                Fill in fields to add a new permission
                            </p>

                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="post" action="~/Permission/Add">




                                        <div class="mb-3">
                                            <label class="form-label">Name</label>
                                            <input type="text" class="form-control" id="Name" name="Name" required>
                                        </div>

                                        <div class="form-check mb-2 form-check-primary">
                                            <input class="form-check-input" type="checkbox" value="true" id="Status" name="Status" checked="" />
                                            <label class="form-check-label" for="customcheck1">Status</label>
                                        </div>



                                        <button class="btn btn-success" type="submit"> Add</button>

                                    </form>
                                </div> <!-- end col -->
                                <div class="col-md-6 text-center">
                                    <h3>Add New Permission</h3>
                                    <p>Please add your information accordingly</p>
                                    <h4>@ViewBag.mesaj</h4>
                                </div>
                            </div>
                            <!-- end row-->

                        </div> <!-- end card-body -->
                    </div> <!-- end card -->
                </div><!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

